.App {
  text-align: center;
}

h2 {
  display: flex;
  text-align: center;
}

body {
  background-image: url(./images/background.png);
}

header {
  background-color: rgba(206, 214, 214, 0.11);
  border-radius: 10px;
  color: aliceblue;
  text-align: center;
}

.title {
  color: aliceblue;
  display: flex;
  margin-top: -25px;
}

.solar-system {
  display: flex;
}

.planet-card {
  color: aliceblue;
}

.mission {
  display: flex;
}

.mission-card {
  background-color: rgba(206, 214, 214, 0.11);
  border: 1px solid white;
  border-radius: 10px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-left: 10px;
  padding: 10px;
  
}

.mission-name{
  color: aliceblue;
  text-transform:uppercase;
}


